<section class="section section-price">
  <div class="container">
    <h2 class="section-title title-price">Price Table</h2>
    <p class="section-subtitle subtitle-price">We offer competitive price</p>

    <ul class="price-list">
      <li class="price-card">
        <h3 class="price-card-title">Free</h3>
        <p class="price-card-text">Brief price description</p>

        <span class="price-card-price"
          >0
          <span class="card-price-part"><span>$</span> Per / month</span></span
        >

        <ul class="price-card-list">
          <li class="price-card-item">Only 2 Operators</li>
          <li class="price-card-item">Notifications</li>
          <li class="price-card-item">Landing Pages</li>
        </ul>

        <button class="price-card-btn" type="button">Order Now</button>
      </li>

      <li class="price-card">
        <h3 class="price-card-title">Standard</h3>
        <p class="price-card-text">Brief price description</p>

        <span class="price-card-price"
          >5
          <span class="card-price-part"><span>$</span> Per / month</span></span
        >

        <ul class="price-card-list">
          <li class="price-card-item">5+ Operators</li>
          <li class="price-card-item">Notifications</li>
          <li class="price-card-item">Landing Pages</li>
        </ul>

        <button class="price-card-btn" type="button">Order Now</button>
      </li>

      <li class="price-card">
        <h3 class="price-card-title">Premium</h3>
        <p class="price-card-text">Brief price description</p>

        <span class="price-card-price"
          >10
          <span class="card-price-part"><span>$</span> Per / month</span></span
        >

        <ul class="price-card-list">
          <li class="price-card-item">10+ Operators</li>
          <li class="price-card-item">Notifications</li>
          <li class="price-card-item">Landing Pages</li>
        </ul>

        <button class="price-card-btn" type="button">Order Now</button>
      </li>
    </ul>
  </div>
</section>
