.title-price {
  font-size: 34px;
  margin-bottom: 8px;
}

.subtitle-price {
  line-height: 1.5;
  margin-bottom: 74px;
}

.price-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.price-card {
  max-width: 322px;
  padding: 24px 32px 32px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  text-align: center;

  transition: background-color 250ms linear, color 250ms linear;
}

.price-card-title {
  margin-bottom: 8px;

  font-size: 24px;
  line-height: 1.66;
}

.price-card-text {
  margin-bottom: 16px;

  font-family: 'Montserrat', sans-serif;
  line-height: 2.5;
}

.price-card-price {
  margin-bottom: 16px;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  text-align: left;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  color: #02897a;

  transition: color 250ms linear;
}

.card-price-part {
  display: flex;
  gap: 4px;
  flex-direction: column;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;

  transition: color 250ms linear;
}

.card-price-part span {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #02897a;

  transition: color 250ms linear;
}

.price-card-list {
  margin-bottom: 30px;
}

.price-card-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: 0.01em;
}

.price-card-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-card-btn {
  border-radius: 8px;
  min-width: 139px;
  height: 44px;
  background-color: #02897a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;

  transition: background-color 250ms linear, color 250ms linear;
}

.price-card:hover,
.price-card:focus-within {
  color: #fff;
  background-color: #02897a;
}

.price-card:hover .price-card-price,
.price-card:hover .card-price-part span,
.price-card:focus-within .price-card-price,
.price-card:focus-within .card-price-part span {
  color: #fff;
}

.price-card:hover .card-price-part,
.price-card:focus-within .card-price-part {
  color: #e0e0e0;
}

.price-card:hover .price-card-btn,
.price-card-btn:focus {
  color: #02897a;
  background-color: #fff;
}

@media screen and (min-width: 1150px) {
  .section-price {
    padding-top: 85px;
  }

  .title-price {
    margin-bottom: 10px;
  }

  .subtitle-price {
    margin-bottom: 40px;
  }

  .price-list {
    gap: 72px;
  }

  .price-card {
    padding: 32px;
    width: calc((100% - 144px) / 3);
  }
}
